body {
	color: #333;
	background: #dadada url("gradient.png") repeat-x;
	margin-top: 2em;
	margin-bottom: 4em;
	font-family: Tahoma, sans-serif;
	font-size: 120%;
	line-height: 1.3em;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

a {
	color: #06c;
}

a:hover {
	color: #09f;
}

ul li.leaf {
	list-style: disc;
}

#capybara-wrapper {
	position: relative;
	margin: 0 auto;
	top: -2em;
}

#capybara {
	position: absolute;
	width: 364px;
	top: 0;
	left: 50%;
	margin-left: -182px;
	z-index: -100;
}

#menus {
	text-align: right;
	font-weight: bold;
}

#menus ul li {
	display: inline;
}

#menus ul li:before {
	content: " // ";
}

#menus ul li:first-child:before {
	content: "";
}

#middle-content {
	margin-top: 6em;
}

article {
	margin-bottom: 8em;
	background: rgba(255, 255, 255, 0.45);
	border-radius: 10px;
	padding: 1em;
}

article .field-name-field-tags {
	display: block;
}

article .field-name-field-tags .field-item {
	display: inline;
}

article .field-name-field-tags .field-item:before {
	content: ", ";
}

article .field-name-field-tags .field-item:first-child:before {
	content: "";
}

footer {
	text-align: right;
	font-size: small;
}

.view-popular-tags ul {
	list-style-type: none;
}

.view-popular-tags ul li {
	padding: .4em;
	margin: .4em 0;
}

.view-display-id-page.view-popular-tags ul li {
	padding-left: 4em;
}

.view-popular-tags ul li.views-row-odd {
	background: rgba(255, 255, 255, 0.45);
	border-radius: 10px;
}
